<div class="container">
  <header class="jumbotron">
    <div class="container">
    <h2 class="text-center">User List</h2>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of comments">
                <td> {{ user.username }} </td>
                <td> {{ user.comment }} </td>
                <td> {{ user.rating }} </td>
                <td> {{ user.commentdate }} </td>
            </tr>
        </tbody>
    </table>
</div>
  </header>
</div>
