.float-left.form-input-wrapper {
    width: 78%;
    margin: 0px 15px 11px;
}
.form-label {
    width : 15%;
    margin-top: 5px;
}
.form-area {
    border:1px solid #c5c5c5;
    padding: 1rem;
    margin-top: 4rem;
}